absl-py==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.21.0
altair==6.1.0
anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///C:/Users/task_177249130442320/croot/anaconda-cloud-auth-split_1772491372848/work
anaconda-cli-base @ file:///C:/Users/task_177038553276457/croot/anaconda-cli-base_1770385908202/work
annotated-doc @ file:///C:/miniconda3/conda-bld/annotated-doc_1763372679168/work
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745107361/work
anthropic==0.98.1
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622433823/work
appdirs==1.4.4
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
argon2-cffi @ file:///C:/Users/task_176606717499708/croot/argon2-cffi_1766067891508/work
argon2-cffi-bindings @ file:///C:/miniconda3/conda-bld/argon2-cffi-bindings_1757925023673/work
arrow==1.4.0
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
astunparse==1.6.3
async-lru @ file:///C:/miniconda3/conda-bld/async-lru_1761121577604/work
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356899359/work
babel @ file:///C:/miniconda3/conda-bld/babel_1764159345001/work
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4 @ file:///C:/Users/task_177029176750681/croot/beautifulsoup4-split_1770291865361/work
bleach @ file:///C:/miniconda3/conda-bld/bleach_1764153675285/work
blinker==1.9.0
boltons @ file:///C:/b/abs_e2_iokhxbp/croot/boltons_1751383740243/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
build==1.5.0
cachetools==7.1.1
certifi @ file:///C:/Users/task_176765924055489/croot/certifi_1767659363027/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792955/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744975868/work
chromadb==1.1.1
click==8.1.8
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119281973/work
conda @ file:///C:/Users/task_177140157604822/croot/conda_1771402255672/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///C:/b/abs_c9yejtsx9g/croot/conda-anaconda-tos_1755123332641/work
conda-content-trust @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-content-trust_1729088072778/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-package-handling @ file:///C:/miniconda3/conda-bld/conda-package-handling_1762366515145/work
conda_package_streaming @ file:///C:/miniconda3/conda-bld/conda-package-streaming_1762361689679/work
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643940481/work
crewai==1.14.5
crewai-cli==1.14.5
crewai-core==1.14.5
cryptography @ file:///C:/Users/task_177247529657270/croot/cryptography-split_1772475408670/work
cycler @ file:///C:/Users/task_176606794865467/croot/cycler_1766068048113/work
Cython @ file:///C:/Users/task_177063417528151/croot/cython_1770634462749/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421658007/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341249916/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
deprecation==2.1.0
distro @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/distro_1729059153117/work
dnspython @ file:///C:/miniconda3/conda-bld/dnspython_1763718333554/work
docstring_parser==0.18.0
docutils==0.22.4
durationpy==0.10
ecdsa==0.19.1
email-validator @ file:///C:/miniconda3/conda-bld/email-validator-meta_1758610267262/work
et_xmlfile==2.0.0
executing @ file:///C:/miniconda3/conda-bld/executing_1757061255268/work
fastapi @ file:///C:/Users/task_176840057251273/croot/fastapi-split_1768401178023/work
fastapi-cli @ file:///C:/Users/task_176837314334067/croot/fastapi-cli_1768373486770/work
fastjsonschema @ file:///C:/miniconda3/conda-bld/python-fastjsonschema_1763718729498/work
fastuuid==0.14.0
filelock==3.25.2
flatbuffers==25.12.19
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1765445219380/work
fqdn==1.5.1
frozendict @ file:///C:/miniconda3/conda-bld/frozendict_1761750728192/work
frozenlist==1.8.0
fsspec==2026.3.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.50
google-pasta==0.2.0
google_search_results==2.4.2
googleapis-common-protos==1.75.0
greenlet==3.5.0
groq==0.37.1
grpcio==1.78.0
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931384726/work
h5py==3.14.0
hf-xet==1.5.0
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools @ file:///C:/miniconda3/conda-bld/httptools_1763634899313/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447475275/work
httpx-sse==0.4.3
huggingface_hub==1.15.0
id==1.6.1
idna @ file:///C:/miniconda3/conda-bld/idna_1761912043388/work
importlib_metadata==8.7.1
importlib_resources==7.1.0
instructor==1.15.1
ipykernel @ file:///C:/Users/task_177261242941432/croot/ipykernel_1772612527953/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1762789322374/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
ipywidgets @ file:///C:/Users/task_177149937296536/croot/ipywidgets_1771500055410/work
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes @ file:///C:/b/abs_6erueoob1v/croot/jaraco.classes_1755516340851/work
jaraco.context @ file:///C:/Users/task_176947773609372/croot/jaraco.context_1769477902330/work
jaraco.functools @ file:///C:/Users/task_176838914677671/croot/jaraco.functools_1768389438594/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jiter==0.13.0
joblib @ file:///C:/Users/task_176786735513374/croot/joblib_1767868143118/work
jose==1.0.0
json5==0.10.0
json_repair==0.25.3
jsonpatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jsonpatch_1729054776004/work
jsonpointer @ file:///C:/b/abs_73u73l7pl9/croot/jsonpointer_1753788460913/work
jsonref==1.1.0
jsonschema @ file:///C:/Users/task_176795548599579/croot/jsonschema_1767955589407/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788613133/work
jupyter @ file:///C:/Users/dev-admin/buildout/croot/jupyter_1742594998199/work
jupyter-console @ file:///C:/Users/dev-admin/buildout/croot/jupyter_console_1739561496258/work
jupyter-events @ file:///C:/miniconda3/conda-bld/jupyter_events_1765813626358/work
jupyter-lsp @ file:///C:/Users/task_176977262016448/croot/jupyter-lsp_1769772728533/work
jupyter_client @ file:///C:/Users/task_176839910383316/croot/jupyter_client_1768399226683/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588349507/work
jupyter_server @ file:///C:/Users/task_176961320926380/croot/jupyter_server_1769613451698/work
jupyter_server_terminals @ file:///C:/Users/task_177028947700273/croot/jupyter_server_terminals_1770289610577/work
jupyterlab @ file:///C:/Users/task_177021308588592/croot/jupyterlab_1770213187719/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/Users/task_176962939306684/croot/jupyterlab_server_1769629896837/work
jupyterlab_widgets @ file:///C:/Users/task_177149224514718/croot/jupyterlab_widgets_1771492423268/work
keras==3.13.2
keyring @ file:///C:/miniconda3/conda-bld/keyring_1763637203252/work
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159357446/work
kubernetes==35.0.0
lance-namespace==0.7.6
lance-namespace-urllib3-client==0.7.6
lancedb==0.30.0
langchain==1.2.17
langchain-core==1.3.2
langchain-groq==1.1.2
langchain-openai==1.2.1
langchain-protocol==0.0.15
langgraph==1.1.10
langgraph-checkpoint==4.0.3
langgraph-prebuilt==1.0.13
langgraph-sdk==0.3.13
langsmith==0.8.0
lark==1.3.1
libclang==18.1.1
libmambapy @ file:///C:/miniconda3/conda-bld/mamba-split_1763111608356/work/libmambapy
linkify-it-py==2.1.0
litellm==1.85.0
markdown-it-py @ file:///C:/Users/task_176700171154409/croot/markdown-it-py_1767001834659/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mat4py==0.6.0
matplot==0.1.9
matplotlib==3.10.8
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779276169/work
mcp==1.26.0
mdit-py-plugins==0.6.1
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552277768/work
menuinst @ file:///C:/miniconda3/conda-bld/menuinst_1765382397455/work
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592916781/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593076691/work
ml_dtypes==0.5.4
mmh3==5.2.1
more-itertools @ file:///C:/miniconda3/conda-bld/more-itertools_1761121564395/work
mpi4py==4.1.1
mpmath==1.3.0
msgpack @ file:///C:/b/abs_4b3t4uhz3r/croot/msgpack-python_1750958631084/work
multidict==6.7.1
namex==0.1.0
narwhals==2.21.0
nbclient @ file:///C:/Users/task_177157717206701/croot/nbclient_1771577293073/work
nbconvert @ file:///C:/Users/task_177212126656282/croot/nbconvert-meta_1772121325922/work
nbformat @ file:///C:/Users/dev-admin/buildout/croot/nbformat_1739559077024/work
nest_asyncio @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nest-asyncio_1729042999160/work
networkx==3.6.1
nh3==0.3.3
nltk @ file:///C:/Users/task_177249122975770/croot/nltk_1772491332003/work
notebook @ file:///C:/Users/task_177028951732676/croot/notebook_1770289627749/work
notebook_shim @ file:///C:/Users/task_176962991874809/croot/notebook-shim_1769630043684/work
npm==0.1.1
numpy @ file:///C:/Users/task_177073258984462/croot/numpy_and_numpy_base_1770732696956/work/dist/numpy-2.4.2-cp313-cp313-win_amd64.whl#sha256=491b01c40ce79507d1ce28ef4a5a1c3be983bf99bcb6110fc54504650f578436
oauthlib==3.3.1
onnxruntime==1.26.0
openai==2.34.0
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opt_einsum==3.4.0
optional-django==0.1.0
optree==0.19.0
orjson==3.11.8
ormsgpack==1.12.2
overrides==7.7.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049099114/work
pandas @ file:///C:/Users/task_177064214199065/croot/pandas_1770643011821/work
pandocfilters @ file:///C:/miniconda3/conda-bld/pandocfilters_1756977623249/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781952168/work
passlib==1.7.4
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pkce @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkce_1729049216383/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356623609/work
playwright==1.60.0
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
portalocker==2.7.0
posthog==5.4.0
prometheus_client @ file:///C:/b/abs_8b175q_ub8/croot/prometheus_client_1744271638821/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745018781/work
propcache==0.5.2
protobuf==5.29.6
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896538278/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067099531/work
pyarrow==24.0.0
pyasn1==0.6.3
pybase64==1.4.3
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496153123/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083582233/work
pydantic-extra-types @ file:///C:/Users/task_176830853026594/croot/pydantic-extra-types_1768308656790/work
pydantic-settings==2.10.1
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009799098/work
pydeck==0.9.2
pyee==13.0.1
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431428918/work
PyJWT @ file:///C:/miniconda3/conda-bld/pyjwt_1764332257117/work
pyloco==0.0.139
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763974011379/work
pypdfium2==5.8.0
PyPika==0.51.1
pyproject_hooks==1.2.0
PyQt6==6.10.2
PyQt6_sip @ file:///C:/Users/task_177247649878782/croot/pyqt-split_1772477407523/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
pytesseract==0.3.13
python-dateutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dateutil_1729038406576/work
python-dotenv==1.2.2
python-jose==3.5.0
python-json-logger @ file:///C:/miniconda3/conda-bld/python-json-logger_1764590262375/work
python-multipart @ file:///C:/Users/task_177021218661750/croot/python-multipart_1770213028510/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pywin32-ctypes @ file:///C:/Users/task_176829651200310/croot/pywin32-ctypes_1768296624234/work
pywinpty @ file:///C:/Users/task_176958932326505/croot/pywinpty_1769589547309/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513644/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609051/work
qtconsole @ file:///C:/Users/task_177149710533607/croot/qtconsole_1771497546729/work
QtPy @ file:///C:/miniconda3/conda-bld/qtpy_1757531176201/work
readchar @ file:///C:/miniconda3/conda-bld/readchar_1760613474723/work
readme_renderer==44.0
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906371/work
regex==2026.1.15
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611326/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339_validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1729040163441/work
rfc3986==2.0.0
rfc3986_validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1729040192034/work
rfc3987-syntax==1.1.0
rich @ file:///C:/miniconda3/conda-bld/rich_1760375661587/work
rich-toolkit @ file:///C:/Users/task_176830856519885/croot/rich-toolkit_1768308696583/work
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366664211/work
rsa==4.9.1
ruamel.yaml @ file:///C:/miniconda3/conda-bld/ruamel.yaml_1762536064547/work
ruamel.yaml.clib @ file:///C:/miniconda3/conda-bld/ruamel.yaml.clib_1762530094515/work
safetensors==0.7.0
scikit-learn==1.8.0
scipy @ file:///C:/Users/task_177149186781062/croot/scipy_1771491979243/work/dist/scipy-1.17.0-cp313-cp313-win_amd64.whl#sha256=198d5a6b390a42a6a602a2ea0dee64c5a9498e026e2bcbdff7b819764e13ef1e
seaborn @ file:///C:/b/abs_0bv5x0ucxb/croot/seaborn_1749110315600/work
semver @ file:///C:/miniconda3/conda-bld/semver_1761903323755/work
Send2Trash @ file:///C:/Users/task_176817069598517/croot/send2trash_1768170820791/work
sentence-transformers==5.5.0
setuptools==80.10.2
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912227081/work
SimpleWebSocketServer==0.1.2
sip @ file:///C:/Users/task_177080701331114/croot/sip_1770807606096/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smmap==5.0.3
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329222593/work
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1729039543636/work
SQLAlchemy==2.0.49
sse-starlette==3.4.4
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067051197/work
starlette==0.50.0
streamlit==1.57.0
sympy==1.14.0
tenacity==9.1.4
tensorflow==2.21.0
termcolor==3.3.0
terminado @ file:///C:/Users/task_176959133060638/croot/terminado_1769591780567/work
textual==8.2.6
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361788000/work
tiktoken==0.12.0
tinycss2 @ file:///C:/Users/dev-admin/buildout/croot/tinycss2_1739559171127/work
tokenizers==0.22.2
toml==0.10.2
tomli==2.0.2
tomli_w==1.1.0
tomlkit @ file:///C:/miniconda3/conda-bld/tomlkit_1762896656167/work
torch==2.11.0
tornado @ file:///C:/Users/task_176599271153901/croot/tornado_1765992818411/work
tqdm @ file:///C:/Users/task_177139862118811/croot/tqdm_1771398768256/work
traitlets @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/traitlets_1729038154689/work
transformers==5.8.1
truststore @ file:///C:/miniconda3/conda-bld/truststore_1762521027919/work
twine==6.2.0
typer==0.20.0
typer-slim==0.20.0
typing==3.7.4.3
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614188477/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
uc-micro-py==2.0.0
ucimlrepo==0.0.7
uri-template==1.3.0
urllib3 @ file:///C:/Users/task_176781035981662/croot/urllib3_1767810483132/work
ushlex==0.99.1
uuid_utils==0.14.1
uv==0.11.15
uvicorn @ file:///C:/Users/task_176822560232336/croot/uvicorn-split_1768226502339/work
watchdog==6.0.0
watchfiles @ file:///C:/Users/task_176798470926670/croot/watchfiles_1767984834485/work
wcwidth @ file:///C:/Users/task_176777896000262/croot/wcwidth_1767779216794/work
webcolors==25.10.0
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1729039571130/work
websocket-client @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/websocket-client_1729041881346/work
websockets @ file:///C:/b/abs_5a70jm9s4j/croot/websockets_1751974439266/work
wheel==0.46.3
widgetsnbextension @ file:///C:/miniconda3/conda-bld/widgetsnbextension_1761556762350/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278300/work
wordcloud @ file:///C:/Users/task_176907383742155/croot/wordcloud_1769074314868/work
wrapt==2.1.2
xlrd==2.0.2
xxhash==3.7.0
yarl==1.23.0
zipp==4.1.0
zstandard @ file:///C:/miniconda3/conda-bld/zstandard_1758189089298/work
